/* TODO: Use REM / EM instead of PX */

.search-engine {
    /* Flex directives */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    /* Size directives */
    width: 85%;
    height: 30px;

    /* TEMP */
    background: antiquewhite;
}

.search-bar {
    /* Size directives */
    width: 85%;
}

.search-button {
    /* Size directives */
    width: 10%;
}

.pagination {
    /* Flex directives */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
}

.pokemon-container {
    /* Flex directives */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    gap: 3rem;

    margin: 0 2rem;
}

.pokemon-box {
    /* Flex directives */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;

    padding: 0.5rem 0.25rem;
    /* Size directives */
    min-width: 5rem;

    cursor: pointer;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
    scale: 1;
    transition: scale 0.25s ease-in-out;
}

.pokemon-box img {
    width: 100px;
    height: 100px;
}
.pokemon-box:hover {
    scale: 1.2;
}
.pokemon-box:hover img{
     animation: jump 0.65s infinite linear;
 }

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.25rem);
    }
    100% {
        transform: translateY(0);
    }
}

.pokemon-background-green {
    background: #56D1B0;
}
.pokemon-background-red {
    background: #F36B6D;
}

.pokemon-background-blue {
    background: #77BCFC;
}

.pokemon-background-yellow {
    background: #FFD368;
}
.pokemon-background-brown {
    background: #B1726C;
}
.pokemon-background-purple {
    background: #7C538D;
}
.pokemon-background-gray {
    background: #b6b4b4;
}
.pokemon-background-pink {
    background: #EEBBC4;
}
.pokemon-background-white {
    background: #F5F4F7;
}
.pokemon-background-black {
    background: #272626;
    color: #fff
}
